@using LeavingCertificate.Models.Resources


    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(SchoolLc.English, "Change", "StudentLCDatas", new { lang = "en" }, null)</li>
        <li>@Html.ActionLink(SchoolLc.Marathi, "Change", "StudentLCDatas", new { lang = "mr" }, null)</li>
    </ul>
   